@if (userList.length > 0) {
<mat-card class="main-container">
  <mat-card-title>
    {{ 'USERS' | translate }}
    <button
      mat-flat-button
      color="primary"
      style="float: right; margin-top: -8px"
      (click)="newUser()"
    >
      <mat-icon>person_add</mat-icon>
      {{ 'NEW_USER' | translate }}
    </button>
  </mat-card-title>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="col-name">{{ 'NAME' | translate }}</th>
        <td mat-cell *matCellDef="let user" class="col-name">{{ user?.name }}</td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef class="col-username">{{ 'USERNAME' | translate }}</th>
        <td mat-cell *matCellDef="let user" class="col-username">{{ user?.username }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef class="col-phone">{{ 'PHONE' | translate }}</th>
        <td mat-cell *matCellDef="let user" class="col-phone">{{ user?.phone }}</td>
      </ng-container>

      <!-- Company Name Column -->
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef class="col-company">{{ 'COMPANY' | translate }}</th>
        <td mat-cell *matCellDef="let user" class="col-company">{{ user?.company.name }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="col-actions"></th>
        <td mat-cell *matCellDef="let user" class="col-actions">
          <mat-icon
            class="icon-action icon-edit"
            (click)="editUser(user)"
            [title]="'EDIT' | translate"
            >edit</mat-icon
          >
          <mat-icon
            class="icon-action icon-delete"
            (click)="deleteUser(user)"
            [title]="'DELETE' | translate"
            >delete</mat-icon
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
} @else {
<div>{{ 'NO_USERS' | translate }}</div>
}
