<mat-card class="main-container">
  <mat-card-title>{{ 'USERS' | translate }}</mat-card-title>
  <mat-card-content>
    <form class="user-detail-form" [formGroup]="form">
      <mat-form-field appearance="outline" class="user-field">
        <mat-label>{{ 'NAME' | translate }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="user-field">
        <mat-label>{{ 'USERNAME' | translate }}</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="user-field">
        <mat-label>{{ 'EMAIL' | translate }}</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="user-field">
        <mat-label>{{ 'PHONE' | translate }}</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="user-field">
        <mat-label>{{ 'WEBSITE' | translate }}</mat-label>
        <input matInput formControlName="website" />
      </mat-form-field>
      <ng-container>
        <mat-form-field appearance="outline" class="user-field">
          <mat-label>{{ 'COMPANY' | translate }}</mat-label>
          <input matInput formControlName="companyName" />
        </mat-form-field>
      </ng-container>
      <ng-container>
        <mat-form-field appearance="outline" class="user-field">
          <mat-label>{{ 'STREET' | translate }}</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="user-field">
          <mat-label>{{ 'SUITE' | translate }}</mat-label>
          <input matInput formControlName="suite" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="user-field">
          <mat-label>{{ 'CITY' | translate }}</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="user-field">
          <mat-label>{{ 'ZIPCODE' | translate }}</mat-label>
          <input matInput formControlName="zipcode" />
        </mat-form-field>
      </ng-container>
      <div class="form-actions">
        <button
          mat-stroked-button
          color="basic"
          type="button"
          (click)="cancel()"
          style="margin-right: 12px"
        >
          {{ 'CANCEL' | translate }}
        </button>
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="save()"
          [disabled]="!form.valid"
        >
          {{ 'SAVE' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
