<button (click)="todosRepo.updateFilter('COMPLETED')">Complete</button>
<button (click)="todosRepo.updateFilter('ACTIVE')">Active</button>
<button (click)="todosRepo.updateFilter('ALL')">All</button>

<ul>
  <li *ngFor="let todo of todosRepo.visibleTodos$ | async">
    <input type="checkbox" (change)="todosRepo.updateCompleted(todo.id)"
      [checked]="todo.completed"/>
    {{ todo.title }}
  </li>
</ul>

<input #todo placeholder="title" (keydown.enter)="addTodo(todo.value)"/>

<hr>

<select [(ngModel)]="selectedTodo">
  <option *ngFor="let todo of todos$ | async" [value]="todo.id">{{ todo.title }}</option>
</select>

<button (click)="setActiveId()">setActiveId</button>
<button (click)="delete()">deleteActive</button> &nbsp;&nbsp;
<button (click)="setActiveIds()">setActiveIds</button> &nbsp;&nbsp;
<button (click)="removeActive()">removeActive</button> &nbsp;&nbsp;
<button (click)="getFirst()">First</button> &nbsp;&nbsp;
<button (click)="getLast()">Last</button>
<br>
{{value | json}}
